<div class="container">
  <h1>My Bookings</h1>
   <% if @bookings.present? %>
    <% @bookings.each do |booking| %>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><strong>Dog Sitting Date:</strong>  <%= booking.date_from.strftime('%B %e, %Y') if booking.date_from? %> - <%= booking.date_to.strftime('%B %e, %Y') if booking.date_to? %></p>
          <p class="card-text"><strong>Dog Sitter:</strong> <%= booking.offer.name %></p>
          <p class="card-text"><%= booking.offer.description %></p>
          <p class="card-text">$<%= booking.offer.price %></p>
          <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?"} %>

        </div>
      </div>
    <% end %>
  <% else %>
    <p class="lead">You have no bookings.</p>
  <% end %>
</div>
