<div class="container">
  <h1>My Bookings</h1>
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><strong>Dog sitting Date:</strong> <%= booking.date_from %> - <%= booking.date_to %></p>
          <p class="card-text"><strong>Dog Sitter:</strong> <%= booking.offer.user.email %></p>
          <p class="card-text"><%= booking.offer.description %></p>
          <p class="card-text">$<%= booking.offer.price %></p>
          <p><%= link_to 'View Details', offer_booking_path(booking.offer, booking.user, booking)%></p>
          <%= link_to 'Delete', offer_booking_path(booking),
                       class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
