
<h1>Book your Dog Sitter</h1>
<% if @bookings.present? %>
  <% @bookings.each do |booking| %>
    <p><strong>Dog Sitting Date:</strong> <%= booking.date_from%> - <%= booking.date_to%></p>
    <p><strong>Dog Sitter: </strong><%= booking.user.email %></p>
    <p><%= booking.offer.description %></p>
    <p>$<%= booking.offer.price %></p>
  <% end %>
<% else %>
  <p>You have no bookings.</p>
<% end %>

<h2>Pay Here!</h2>

<%= button_to 'Book Now', offer_bookings_path(@offer.id), data: { method: :post, turbo_confirm: "Are you sure you want to confirm the purchase?"} %>

<div class="container">
  <%= simple_form_for([@offer, @booking]) do |f| %>
   <%= f.input :date_from , as: :date%>
    <%= f.input :date_to, as: :date %>

    <%= f.submit %>
  <% end %>
</div>
