<div class="container">
  <h1 class="mb-4">Book your Dog Sitter Here!</h1>
  <p><strong>Name: </strong><%= @offer.name %></p>
  <p><strong> Description: </strong><%= @offer.description %></p>
  <p><strong> Price: </strong>$<%= @offer.price %>0</p>
  <p><strong>Available:</strong> <%= @offer.date_from.strftime("%B %d, %Y") if @offer.date_from? %> to <%= @offer.date_to.strftime("%B %d, %Y") if @offer.date_to%></p>
  <div class="container mt-4">
    <%= simple_form_for([@offer, @booking]) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :date_from, as: :date, label: 'Start Date', class: 'form-control', html5: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :date_to, as: :date, label: 'End Date', class: 'form-control', html5: true %>
        </div>
      </div>

      <%= f.submit 'Book Now!', class: 'btn btn-primary mt-3 mb-5' %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
