<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/7210754/pexels-photo-7210754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
  <div class="container">
    <h1> Find care for Your Dog, Anytime, Anywhere !</h1>
    <p> Connecting dogs with reliable sitters in a few taps</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-8 my-3">

    <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Type location"
        %>
        <div class="title p-2">
          <%= label_tag :"From: " %>
        </div>

          <%= text_field_tag :date_from,
              params[:date_from],
              class: "form-control",
              placeholder: "Select dates",
              type: "date"
          %>
        <div class="title p-2">
          <%= label_tag :"To:" %>
        </div>
        <%= text_field_tag :date_to,
            params[:date_to],
            class: "form-control",
            title: "Select end date",
            type: "date"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>


<div class="container text-center d-flex flex-column justify-content-center">
  <div class="row mt-5">
    <div class="col">
    <h4>How to become a dog sitter?</h4>
      <div class="row m-5">
        <i class="fa fa-solid fa-play"></i>
      <p class="body-text">Create an account on our webapp!</p>
      </div>
      <div class="row m-5">
        <i class="fa fa-solid fa-flag-checkered"></i>
        <p class="body-text">Create your first Sitter offer!</p>
      </div>
      <div class="row m-5">
        <i class="fa fa-solid fa-dog"></i>
        <p class="body-text">Get booked!</p>
      </div>
    </div>
    <div class="col" id="col-green">
    <h4>Benefits of dog sitting</h4>
      <div class="row m-5">
        <i class="fa fa-solid fa-heart"></i>
      <p class="body-text">Do what you love</p>
      </div>
      <div class="row m-5">
        <i class="fa fa-solid fa-sack-dollar"></i>
        <p class="body-text">Earn money</p>
      </div>
      <div class="row m-5">
        <i class="fa fa-solid fa-tree"></i>
        <p class="body-text">Take care of your sorroundings</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center d-flex flex-column justify-content-center">
  <div class="card inline-card">
    <div class="card-body">
      <h5 class="card-title">Dog sitting policy</h5>
      <div class="card-text">
        <p>All our dog sitters, need to register themselves, with a unique and validad name.</p>
        <p>All our dog sitters, are verified by our team.</p>
      </div>
      <a href="#" class="btn btn-flat">Book now!</a>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
