<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/7210754/pexels-photo-7210754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
  <div class="container">
    <h1> Find care for Your Dog, Anytime, Anywhere !</h1>
    <p> Connecting dogs with reliable sitters in a few taps</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-8 my-3">

    <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Type location"
        %>
        <div class="title p-2">
          <%= label_tag :"From: " %>
        </div>

          <%= text_field_tag :date_from,
              params[:date_from],
              class: "form-control",
              placeholder: "Select dates",
              type: "date"
          %>
        <div class="title p-2">
          <%= label_tag :"To:" %>
        </div>
        <%= text_field_tag :date_to,
            params[:date_to],
            class: "form-control",
            title: "Select end date",
            type: "date"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
