<div class="container">
  <h2>Dog Sitters Available</h2>
  <% @offers.each do |offer| %>
    <p>Name: <%= offer.name %></p>
    <p>Description: <%= offer.description %></p>
    <p>Price: <%= offer.price %></p>
    <p>Available from <%= offer.date_from.strftime("%B %d, %Y") %> to <%= offer.date_to.strftime("%B %d, %Y") %></p>
    <%# Modificar Posted por created_at %>
    <p>Posted: <%= time_ago_in_words(Time.now) %> ago</p>
    <%# Mostrar foto del offer en el index %>
    <p><%= link_to "View more", offer_path(offer) %></p>
  <% end %>

  <hr>

  <%= link_to "Back", root_path %> |
  <%= link_to "New Offer", new_offer_path %>
</div>
