<div class="container">
  <h2>Dog Sitters Available</h2>
  <% @offers.each do |offer| %>
    <p>Name: <%= offer.name %></p>
    <p>Description: <%= offer.description %></p>
    <p>Price: <%= offer.price %></p>
    <p>Available from <%= offer.date_from.strftime("%B %d, %Y") %> to <%= offer.date_to.strftime("%B %d, %Y") %></p>
    <p>Posted: <%= time_ago_in_words(Time.now) %> ago</p>
    <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill if offer.photo.attached? %>
    <p><%= link_to "View more", offer_path(offer) %></p>
    <hr>
  <% end %>

  <%= link_to "Back", root_path %> |
  <%= link_to "New Offer", new_offer_path %>
</div>
