
<div class="container-background" style="background-color:white;">
  <div class="container m-5px" style="background-color: white;">
    <div class="card-details card-show mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill if @offer.photo.attached? %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2> Meet <%= @offer.name %>:</h2>
            <p><%= @offer.description %>.</p>
            <p><small class="text-body-secondary"> Posted: <%= time_ago_in_words(Time.now) %> ago</small></p>
            <div class= "card-price-rating">
              <p class="card-price">$<%= @offer.price %>/per night </p>

              <p>From <%= @offer.date_from.strftime("%B %d, %Y") if @offer.date_from? %> to <%= @offer.date_to.strftime("%B %d, %Y") if @offer.date_to? %></p>
            </div>

          </div>
            <%= link_to "Book now!", new_offer_booking_path(@offer), class:"btn-flat" %>
            <%= link_to "Back", offers_path %>
        </div>
      </div>
      <div class="rating-card" style="padding: 10px;">
        <h5>Reviews and testimonials </h5>
          <% total_ratings = @offer.reviews.sum(:rating) %>
            <% if total_ratings.present? %>
              <% @offer.reviews.each do |review| %>
                <p><strong><%= review.user.username %></strong></p>
                <p>Rating: <%= review.rating %> <i class="fa-solid fa-paw"></i></p>
                <p>Comments: <%= review.comment %></p>
              <% end %>
            <% else %>
              <%= "No Ratings Yet" %>
            <% end %>
      </div>
    </div>
  </div>
</div>
