<div class="container">
  <h1>Aca va el show de cada Offer</h1>
  <p>Name: <%= @offer.name %></p>
  <p>Description: <%= @offer.description %></p>
  <p>Price: <%= @offer.price %></p>
  <p>Available: <%= @offer.date_from.strftime("%B %d, %Y") if @offer.date_from? %> to <%= @offer.date_to.strftime("%B %d, %Y") if @offer.date_to%></p>
  <p>Posted: <%= time_ago_in_words(Time.now) %> ago</p>
  <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill if @offer.photo.attached? %>

  <hr>
  <% @reviews.each do |review| %>
    <p><%= review.rating  %></p>
    <p><%= review.comment  %></p>
    <p><%= review.user.username  %></p>
  <% end %>
  <hr>

  <%= link_to "Book now!", new_offer_booking_path(@offer) %> |
  <%= link_to "Back", offers_path %> |
  <%= link_to "Edit", edit_offer_path(@offer) %> |
  <%= link_to "Delete Offer", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
